body {
    margin: 0;
    padding: 0;
    direction: ltr;
    font-family: 'Roboto', sans-serif;
    color: #606c71;
    background: #f1f1f1;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

::selection{
    background:#3BB9FF;
    color:#FFF;
}

nav.menu {
    float: left;
    width: 100%;
    margin: 0 0 24px 0;
    padding: 48px 0;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

nav.menu h1 , h2 {
    float: right;
    width: 100%;
    text-align: center;
    font-size: 32px;
    color: rgba(255,255,255,0.9);
}

nav.menu h2 {
    font-size: 24px;
}

nav.menu ul {
    float: right;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 32px 0;
}

nav.menu ul li {
    margin: 0 8px;
}

nav.menu ul li a {
    background: rgba(255,255,255,0.1);
    padding: 12px 18px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    color: rgba(255,255,255,0.8);
    font-size: 16px;
    text-decoration: none;
    transition: all .15s;
}

nav.menu ul li a:hover {
    background: rgba(255,255,255,0.4);
}

section {
    float: left;
    width: calc(60% - 48px);
    margin: 24px 20% 1024px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 24px;
    border-radius: 10px;
    background: white;
}

section h1 {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 28px;
    padding: 0;
    margin: 12px 0;
    color: #555;
}

section p {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

#scrollspy-indicator {
    position: fixed;
    left: 3%;
    width: 14%;
    background: white;
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.indicator {
    float: right;
    width: calc(100% - 16px);
    padding: 8px;
}

.indicator .item-indicator {
    float: left;
    width: calc(100% - 16px);
    font-size: 15px;
    padding: 12px 8px;
}

.indicator .item-indicator.spy-active {
    border-left-color: #159957;
    color: #159957;
}

.main-divider {
    float: right;
    width: calc(60% - 24px);
    margin: 24px calc(20% + 12px);
    height: 0;
    border: none;
    border-bottom: 2px dashed rgba(0,0,0,0.3);
    box-shadow: none;
    outline: none;
}

.setup pre {
    float: left;
    width: 100%;
    font-size: 13px;
    padding: 0;
    line-height: 2;
}

.setup pre code {
    padding: 12px;
}

kbd {
    background: rgba(0,0,0,0.07);
    color: rgba(0,0,0,0.7);
    padding: 6px;
    border-radius: 3px;
    font-size: 14px;
}

.setup a {
    text-decoration: none;
    color: #0000EE;
    transition: all .15s;
}

.setup a:hover {
    color: #ffa000;
}

footer {
    float: left;
    width: 100%;
    padding: 24px 0;
    background-color: #D81B60;
    background-image: linear-gradient(120deg, #D81B60, #FFCC80);
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 24px;
}

footer a {
    color: white;
    text-decoration: none;
}